/* line 1, ../scss/sidebar.scss */
#sidebar {
  background-color: #1A1E21;
  border-right: 1px solid #1F1F21;
  color: #ffffff;
  padding: 0;
}
/* line 7, ../scss/sidebar.scss */
#sidebar #title {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 9, ../scss/sidebar.scss */
#sidebar #title a {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 13, ../scss/sidebar.scss */
#sidebar #title img {
  width: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 15px;
}
/* line 20, ../scss/sidebar.scss */
#sidebar #menu {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}
/* line 23, ../scss/sidebar.scss */
#sidebar #menu i {
  font-size: 40px;
}
/* line 27, ../scss/sidebar.scss */
#sidebar #menu ul {
  padding: 0;
  margin-bottom: 0;
}
/* line 30, ../scss/sidebar.scss */
#sidebar #menu ul li {
  border-bottom: 1px solid #2B2B2B;
  list-style: none;
  margin-left: 0;
}
/* line 31, ../scss/sidebar.scss */
#sidebar #menu ul li:nth-child(1) {
  border-top: 1px solid #1F1F21;
}
/* line 36, ../scss/sidebar.scss */
#sidebar #menu ul li.active {
  border-left: 2px solid #34AADC;
}
/* line 43, ../scss/sidebar.scss */
#sidebar #menu ul li:hover {
  background: #2B2B2B;
}
/* line 47, ../scss/sidebar.scss */
#sidebar #menu ul li:active {
  background: #1F1F21;
}
/* line 48, ../scss/sidebar.scss */
#sidebar #menu ul li:active a {
  color: #cccccc;
}
/* line 53, ../scss/sidebar.scss */
#sidebar #menu ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: #ffffff;
  box-sizing: border-box;
}
/* line 60, ../scss/sidebar.scss */
#sidebar #menu ul li a:hover {
  text-decoration: none;
}

/* line 1, ../scss/player.scss */
.track-progress {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  min-height: 25px;
  width: 100%;
}
/* line 7, ../scss/player.scss */
.track-progress .display {
  cursor: pointer;
  position: absolute;
  height: 6px;
  right: 0;
  left: 0;
  border-radius: 3px;
  background: #1D77EF;
}
/* line 16, ../scss/player.scss */
.track-progress .display .track-progress-bar {
  position: absolute;
  height: 6px;
  border-radius: 3px;
  left: 0;
  background: linear-gradient(to left, #55efcb, #5bcaff);
}

/* line 28, ../scss/player.scss */
#player .track-data {
  color: #ffffff;
  margin-bottom: 5px;
}
/* line 30, ../scss/player.scss */
#player .track-data .title {
  font-size: 1.8em;
  font-weight: 100;
}
/* line 35, ../scss/player.scss */
#player .track-data .author {
  font-size: 1.2em;
  font-weight: 100;
}
/* line 36, ../scss/player.scss */
#player .track-data .author a {
  color: inherit;
}
/* line 46, ../scss/player.scss */
#player .player-track {
  position: relative;
}
/* line 49, ../scss/player.scss */
#player .player-track .cover {
  position: relative;
  background-size: cover;
  padding-bottom: 100%;
}
/* line 55, ../scss/player.scss */
#player .player-track .controls {
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 66, ../scss/player.scss */
#player .player-extra {
  padding: 10px 25px 0 25px;
}
/* line 70, ../scss/player.scss */
#player .title {
  font-weight: bold;
}
/* line 74, ../scss/player.scss */
#player .progress-time {
  height: 1em;
}
/* line 77, ../scss/player.scss */
#player .progress-time .currentTime {
  float: left;
}
/* line 81, ../scss/player.scss */
#player .progress-time .duration {
  float: right;
}
/* line 86, ../scss/player.scss */
#player .controls {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 15px #2c3e50;
}
/* line 91, ../scss/player.scss */
#player .play-pause {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -20px;
  font-size: 50px;
}
/* line 100, ../scss/player.scss */
#player .previousTrack {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -75px;
  font-size: 30px;
}
/* line 109, ../scss/player.scss */
#player .nextTrack {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 48px;
  font-size: 30px;
}
/* line 118, ../scss/player.scss */
#player .controls-extra {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px;
}
/* line 124, ../scss/player.scss */
#player .controls-extra .volume-off {
  cursor: pointer;
  float: left;
  width: 15%;
  padding-right: 4px;
}
/* line 131, ../scss/player.scss */
#player .controls-extra .volume-up {
  cursor: pointer;
  float: left;
  width: 15%;
  padding-left: 4px;
}
/* line 138, ../scss/player.scss */
#player .controls-extra .volume {
  cursor: pointer;
  float: left;
  width: 70%;
}

/* line 146, ../scss/player.scss */
input[type=range] {
  vertical-align: bottom;
  margin: 0;
  -webkit-appearance: none;
  background-color: transparent;
  padding: 10px;
  padding-top: 0;
  height: 20px;
}

/* line 156, ../scss/player.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 7px;
  padding-bottom: 2px;
  background-color: rgba(150, 150, 150, 0.5);
  border: none;
  border-radius: 3px;
}

/* line 165, ../scss/player.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-top: -6px;
  background: #3498db;
}

/* line 176, ../scss/player.scss */
input[type=range]:focus {
  outline: none;
}

/* line 180, ../scss/player.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: rgba(150, 150, 150, 0.5);
}

/* line 1, ../scss/media.scss */
.thumbnail {
  padding: 0;
  border: 0;
}

/* line 6, ../scss/media.scss */
.track-thumbnail {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #ffffff;
  opacity: 0.8;
}
/* line 12, ../scss/media.scss */
.track-thumbnail:hover {
  opacity: 1;
  transform: translateY(2px);
}
/* line 16, ../scss/media.scss */
.track-thumbnail:hover .play-pause {
  opacity: 0.9;
}
/* line 21, ../scss/media.scss */
.track-thumbnail .controls {
  z-index: 5;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* line 32, ../scss/media.scss */
.track-thumbnail .play-pause {
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  text-shadow: 0 0 15px #2c3e50;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  margin: -25px 0 0 -20px;
}
/* line 44, ../scss/media.scss */
.track-thumbnail .playing {
  opacity: 0.9;
}
/* line 48, ../scss/media.scss */
.track-thumbnail .cover {
  position: relative;
  background-size: cover;
  padding-bottom: 100%;
}
/* line 54, ../scss/media.scss */
.track-thumbnail .caption {
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 1em;
  padding-top: 1em;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* line 68, ../scss/media.scss */
.track-thumbnail .caption a, .track-thumbnail .caption p {
  color: #000;
}
/* line 72, ../scss/media.scss */
.track-thumbnail .caption .track-info {
  padding-bottom: 0.5em;
}
/* line 76, ../scss/media.scss */
.track-thumbnail .caption .title {
  width: 100%;
  font-size: 1.4em;
  height: 1.2em;
  padding: 1px 10px 0 10px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 87, ../scss/media.scss */
.track-thumbnail .caption .author {
  font-size: 1.2em;
  height: 1.2em;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 97, ../scss/media.scss */
.track-thumbnail .caption .add-to-playlist {
  cursor: pointer;
  background: #EFF0F2;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
/* line 105, ../scss/media.scss */
.track-thumbnail .caption .add-to-playlist:hover {
  background: #e1e2e4;
}
/* line 110, ../scss/media.scss */
.track-thumbnail .caption .fa-plus {
  cursor: pointer;
}

/* line 1, ../scss/detail.scss */
.author-cover {
  height: 300px;
  background-position: 50% -50px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
/* line 9, ../scss/detail.scss */
.author-cover .data-author {
  text-align: center;
}
/* line 13, ../scss/detail.scss */
.author-cover .photo {
  padding-top: 20px;
}
/* line 16, ../scss/detail.scss */
.author-cover .photo img {
  width: 200px;
  border-radius: 100px;
}
/* line 22, ../scss/detail.scss */
.author-cover .info-author {
  padding-bottom: 100px;
}

/* line 8, ../scss/app.scss */
body {
  color: #ffffff;
  position: relative;
  height: 100%;
  min-height: 100%;
  background-color: #1A1E21;
}

/* line 16, ../scss/app.scss */
h1, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

/* line 21, ../scss/app.scss */
::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

/* line 26, ../scss/app.scss */
::-webkit-scrollbar-thumb {
  background-color: #4A4A4A;
  border-radius: 4px;
}

/* line 30, ../scss/app.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

/* line 34, ../scss/app.scss */
::-webkit-scrollbar-thumb:active {
  background-color: #2B2B2B;
}

/* line 38, ../scss/app.scss */
table.playlist-list {
  width: 100%;
}
/* line 41, ../scss/app.scss */
table.playlist-list thead th {
  text-transform: uppercase;
  color: #DDDDDD;
}
/* line 48, ../scss/app.scss */
table.playlist-list tbody tr {
  cursor: move;
  background: #272C2F;
}
/* line 52, ../scss/app.scss */
table.playlist-list tbody tr:hover {
  background: #33393c;
}
/* line 57, ../scss/app.scss */
table.playlist-list tbody tr td.status {
  text-align: center;
  width: 50px;
}
