/* line 1, ../scss/player.scss */
.bar {
  position: relative;
  min-height: 25px;
  width: 200px;
}
/* line 6, ../scss/player.scss */
.bar .display {
  position: absolute;
  height: 6px;
  right: 0;
  left: 0;
  border-radius: 3px;
  background: #1D77EF;
}
/* line 14, ../scss/player.scss */
.bar .display .progress-bar {
  position: absolute;
  height: 6px;
  border-radius: 3px;
  left: 0;
  background: linear-gradient(right, #55EFCB, #5BCAFF);
}

/* line 24, ../scss/player.scss */
.player {
  position: fixed;
  left: 0;
  width: 250px;
  padding: 25px;
  background: linear-gradient(#4A4A4A, #2B2B2B);
  top: 0;
  bottom: 0;
  border-right: 1px solid #1F1F21;
  color: #ffffff;
}
/* line 35, ../scss/player.scss */
.player .title {
  font-weight: bold;
}

/* line 40, ../scss/player.scss */
.volume {
  width: 150px;
}
