/* line 1, ../scss/sidebar.scss */
#sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  padding: 25px;
  background: linear-gradient(#4A4A4A, #2B2B2B);
  top: 0;
  bottom: 0;
  border-right: 1px solid #1F1F21;
  color: #ffffff;
}
/* line 13, ../scss/sidebar.scss */
#sidebar #title h1 {
  text-align: center;
}
