<!doctype html>
<html lang="fr">
<head>
    {% include 'app/head.html.twig' %}
</head>
<body>
{% include 'app/sidebar.html.twig' %}
<div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
    <div id="browser" class="">
        {% block body %}
        {% endblock %}
    </div>
</div>
{% include 'app/foot.html.twig' %}