<div id="sidebar" class="col-xs-4 col-sm-4 col-md-3 col-lg-2">

    <div id="title">
        <a href="/coda/"><img src="http://image.noelshack.com/fichiers/2014/50/1418079798-coda3.png" alt=""/></a>
    </div>
    <div id="menu">
        <ul class="">
            <li><a id="tracks" href="/coda/tracks"><i class="fa fa-th-large"></i><br/>Musiques</a></li>
            <li><a id="authors" href="/coda/authors"><i class="fa fa-group"></i><br/>Auteurs</a></li>
            <li><a id="search" href="/coda/search"><i class="fa fa-search"></i><br/>Recherche</a></li>
            <li><a id="playlist" href="/coda/playlist"><i class="fa fa-list"></i><br/>Playlist</a></li>
        </ul>
    </div>
    <div id="player">
        <audio id="audioPlayer"></audio>
        <div class="player-track">
            <div class="cover" style="background-image: url('');"></div>

            <div class="controls">
                <div class="previousTrack">
                    <i class="fa fa-backward"></i>
                </div>
                <div class="play-pause">
                    <i class="fa fa-play"></i>
                </div>
                <div class="nextTrack">
                    <i class="fa fa-forward"></i>
                </div>
            </div>
        </div>
        <div class="player-extra">
            <div class="track-data">
                <div class="title"></div>
                <div class="author"></div>
            </div>
            <p class="progress-time"><span class="currentTime"></span><span class="duration"></span></p>
            <div class="track-progress">
                <div class="display">
                    <div class="track-progress-bar"></div>
                </div>
            </div>
            <div class="controls-extra">
                <i class="fa fa-volume-off volume-off"></i><input type="range" class="volume" value="10"/><i class="fa fa-volume-up volume-up"></i>
            </div>
        </div>
    </div>
</div>