@import "../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass";
@import 'sidebar';
@import 'player';
//@import 'browser';
@import 'media';
@import 'detail';

body {
    color: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    background-color:#1A1E21;
}

h1, h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

::-webkit-scrollbar{
    width:7px;
    background-color:rgba(0,0,0,0);

}
::-webkit-scrollbar-thumb{
    background-color:#4A4A4A;
    border-radius:4px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#606060;
}

::-webkit-scrollbar-thumb:active{
    background-color:#2B2B2B;
}

table.playlist-list {
    width: 100%;

    thead th {
        text-transform: uppercase;
        color: #DDDDDD;
    }

    tbody  {

        tr {
            cursor: move;
            background: #272C2F;

            &:hover {
                background: #33393c;
            }

            td {
                &.status {
                    text-align: center;
                    width: 50px;
                }
            }
        }
    }
}