.offset {

    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
}

#browser {
    background-color:#1A1E21;
    position: relative;
    padding-top: 25px;
    min-height:100vh;
}


.loading {

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    i {
        @include animation-name(spin);
        @include animation-duration(4000ms);
        @include animation-iteration-count(infinite);
        @include animation-timing-function(linear);

        font-size: 100px;
    }
    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}
