.author-cover {
    height: 300px;
    background-position: 50% -50px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    .data-author {
        text-align: center;
    }

    .photo {
        padding-top: 20px;
        
        img {
            width: 200px;
            border-radius: 100px;
        }
    }

    .info-author {
        padding-bottom: 100px;
    }
}
