.thumbnail {
    padding: 0;
    border: 0;
}

.track-thumbnail {
    @include transition(all 0.3s ease-in-out);
    position: relative;
    color: #ffffff;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        transform: translateY(2px);

        .play-pause {
            opacity: 0.9;
        }
    }

    .controls {
        z-index: 5;
        @include transition(opacity 0.3s);
        position: absolute;
        text-align: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .play-pause {
        cursor: pointer;
        @include transition(all 0.3s ease-in-out);
        opacity: 0;
        text-shadow: 0 0 15px #2c3e50;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        margin: -25px 0 0 -20px;
    }

    .playing {
        opacity: 0.9;
    }

    .cover {
        position: relative;
        background-size: cover;
        padding-bottom: 100%;
    }

    .caption {
        @include transition(background-color 0.3s);
        @include border-radius(0 0 3px 3px);
        border-top: 1px solid rgba(255,255,255,0.2);
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        line-height: 1em;
        padding-top: 1em;
        color: #000;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        font-style: normal;

        a, p {
            color: #000;
        }

        .track-info {
            padding-bottom: 0.5em;
        }

        .title {
            width: 100%;
            font-size: 1.4em;
            height: 1.2em;
            padding: 1px 10px 0 10px;
            white-space: nowrap;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .author {
            font-size: 1.2em;
            height: 1.2em;
            white-space: nowrap;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .add-to-playlist {
            cursor: pointer;
            background: #EFF0F2;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            @include border-radius(0 0 3px 3px);
            @include transition(background-color 0.3s);

            &:hover {
                background: #e1e2e4;
            }
        }

        .fa-plus {
            cursor: pointer;
        }
    }
}