.track-progress {
    @include user-select(none);
    position: relative;
    min-height: 25px;
    width: 100%;

    .display {
        cursor: pointer;
        position: absolute;
        height: 6px;
        right: 0;
        left: 0;
        border-radius: 3px;
        background: #1D77EF;

        .track-progress-bar {
            position: absolute;
            height: 6px;
            border-radius: 3px;
            left: 0;
            background: linear-gradient(right, #55EFCB, #5BCAFF);
        }
    }
}

#player {

    .track-data {
        color: #ffffff;
        .title {
            font-size: 1.8em;
            font-weight: 100;
        }

        .author {
            a {
                color: inherit;
            }
            font-size: 1.2em;
            font-weight: 100;
        }

        margin-bottom: 5px;
    }

    .player-track {
        position: relative;

        .cover {
            position: relative;
            background-size: cover;
            padding-bottom: 100%;
        }

        .controls {
            @include transition(opacity 0.3s);
            position: absolute;
            text-align: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .player-extra {
        padding: 10px 25px 0 25px;
    }

    .title {
        font-weight: bold;
    }

    .progress-time {
        height: 1em;

        .currentTime {
            float: left;
        }

        .duration {
            float: right;
        }
    }

    .controls {
        @include transition(all 0.3s ease-in-out);
        text-shadow: 0 0 15px #2c3e50;
    }

    .play-pause {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30px 0 0 -20px;
        font-size: 50px;
    }

    .previousTrack {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -75px;
        font-size: 30px;
    }

    .nextTrack {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 48px;
        font-size: 30px;
    }

    .controls-extra {
        @include user-select(none);
        text-align: center;
        margin-bottom: 15px;
        padding: 5px;

        .volume-off {
            cursor: pointer;
            float: left;
            width: 15%;
            padding-right: 4px;
        }

        .volume-up {
            cursor: pointer;
            float: left;
            width: 15%;
            padding-left: 4px;
        }

        .volume {
            cursor: pointer;
            float: left;
            width: 70%;
        }
    }
}

input[type=range]{
    vertical-align: bottom;
    margin: 0;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    padding-top: 0;
    height: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    padding-bottom: 2px;
    background-color: rgba(150, 150, 150, 0.5);
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-top: -6px;
    background: #3498db;

}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: rgba(150, 150, 150, 0.5);
}
