#sidebar {
    background-color: #1A1E21;
    border-right: 1px solid #1F1F21;
    color: #ffffff;
    padding: 0;

    #title {
        @include user-select(none);
        a {
            @include user-select(none);
        }

        img {
            width: 100%;
            @include user-select(none);
            padding: 15px;
        }
    }

    #menu {
        @include user-select(none);
        text-align: center;
        i {
            font-size: 40px;
        }

        ul {
            padding: 0;
            margin-bottom: 0;
            li {
                &:nth-child(1) {
                    border-top: 1px solid #1F1F21;
                }
                border-bottom: 1px solid #2B2B2B;

                &.active {
                    border-left: 2px solid #34AADC;
                }

                list-style: none;
                margin-left: 0;

                &:hover {
                    background: #2B2B2B;
                }

                &:active {
                    a {
                        color: #cccccc;
                    }
                    background: #1F1F21;
                }
                a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    display: block;
                    color: #ffffff;
                    box-sizing: border-box;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

}
