{% import "macro.twig" as macro %}

<div class="small-12">
    <h1>Auteurs</h1>
    {% for author in authors %}
        {{ macro.authorTemplate(author.id, author.cover, author.name) }}
    {% endfor %}
</div>