{% import "macro.twig" as macro %}
<div class="author-cover" style="background-image: url({{ author.background }});">
    <div class="grid-container">
        <div class="data-author">
            <div class="photo">
                <img src="{{ author.cover }}" alt="photo"/>
            </div>
            <div class="info-author">
                <h1>{{ author.name }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="small-12">
    <h2>Discographie</h2>
    {% if tracks is not empty %}
        {% for track in tracks %}
            {{ macro.trackTemplate(track.id, track.url, track.cover, track.title, author.name, author.id) }}
        {% endfor %}
    {% else %}
        <p>Pas de musiques pour cet artiste encore !</p>
    {% endif %}
</div>

<script>
    check();

    function check() {
        if (typeof musicManager != "undefined" && musicManager.currentTrack && musicManager.currentTrack.id) {
            checkPlay();
            checkList();
        } else {
            setTimeout(check, 500);
        }
    }
</script>