<div class="small-12">

    <div class="jumbotron" style="margin-top: 2em; background: #2c3235;">
        <h1>Bienvenue sur Coda !</h1>
        <p>Application d'écoute de musique de démonstration</p>
        <p><a class="btn btn-primary btn-lg" href="/coda/tracks" role="button">Essayer maintenant</a></p>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Présentation</h1>
            <p>Coda est une application <i>prototype</i> d'écoute de musique en ligne réalisée dans le cadre du défi 1 application/mois.<br/>
                Inspiré par les applications Web des géants du streaming, j'avais l'envie de découvrir et de réaliser un équivalent stable et fonctionnel.</p>
            <h1>Musiques</h1>
            <p>Les pistes ont été mises en ligne en basse qualité (96Kbits/s), en mono, et au nombre de 8 pour que ce site reste une démonstration.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Défi 1 application/mois</h1>
            <p>Avec ce défi, il est à comprendre que cette application correspond à un temps de travail bien inférieur à 1 mois (en témoigne l'historique Git disponible à <a target="_blank" href="https://bitbucket.org/JCornat/coda/commits/branch/master">ici</a>),
                et que ce défi à pour but de mettre en oeuvre des méthodes de travail Agile pour mener à un bien projet personnel à développement à durée limitée.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Technologie</h1>
            <h3>BackEnd :</h3>
            <ul>
                <li>PHP</li>
                <li>Slim Framework</li>
                <li>Twig Template</li>
            </ul>
            <h3>FrontEnd :</h3>
            <ul>
                <li>CoffeeScript</li>
                <li>jQuery</li>
                <li>jQuery UI</li>
                <li>BootStrap</li>
                <li>FontAwesome</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>Liens utiles</h1>
            <p>Tout le code est entièrement disponible et accessible à cette adresse : <a target="_blank" href="https://bitbucket.org/JCornat/coda">Dépôt BitBucket</a></p>
            <p>Site personnel : <a target="_blank" href="http://cornat-development.com">cornat-development.com</a></p>
        </div>
    </div>
</div>