{% macro trackTemplate(id, url, cover, title, author_name, author_id) %}
    <div class="track-thumbnail col-xs-12 col-sm-6 col-md-3 col-lg-2" id="{{ id }}" data-uri="/coda/{{ url }}">
        <div class="thumbnail">
            <div class="cover" style="background-image: url('{{ cover }}');">
                <div class="controls">
                    <div class="play-pause">
                        <i class="fa fa-play"></i>
                    </div>
                </div>
            </div>
            <div class="caption">
                <div class="track-info">
                    <span class="title">{{ title }}</span>
                    <span class="author">par <a href="/coda/author/{{ author_id }}">{{ author_name }}</a></span>
                </div>
                <span title="Ajouter à la playlist">
                    <div class="add-to-playlist">
                        <i class="fa fa-plus"></i>
                    </div>
                </span>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro authorTemplate(id, cover, name) %}
    <a href="/coda/author/{{ id }}">
        <div class="track-thumbnail col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="thumbnail">
                <div class="cover" style="background-image: url('{{ cover }}');"></div>
                <div class="caption">
                    <span class="title">{{ name }}</span>
                </div>
            </div>
        </div>
    </a>
{% endmacro %}