<h1>Playlist</h1>
<p>(Vous pouvez me trier si vous le souhaitez !)</p>
<table class="playlist-list table table-responsive">
    <thead>
        <tr>
            <th class="status"></th>
            <th>Titre</th>
            <th>Auteur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>Pas de musique dans votre playlist encore !</td>
            <td></td>
        </tr>
    </tbody>
</table>

<script>
    check();

    function check() {
        if (typeof updatePlaylist == 'function' && typeof musicManager != "undefined" && musicManager.currentTrack && musicManager.currentTrack.id) {
            updatePlaylist();
            checkPlay('#browser #'+musicManager.currentTrack.id);
        } else {
            setTimeout(check, 500);
        }
    }

</script>