{% import "macro.twig" as macro %}

<div class="browser" style="margin-left: 0; margin-right: 0;">
    <h1>Recherche</h1>
    <div class="row">
        <form action="search" id="search" method="get">
            <div class="form-group col-xs-8 col-sm-4 col-md-4 col-lg-3">
                <input type="text" class="form-control" placeholder="Ex: Linkin, Doc, Eminem..." name="s" id="s" {% if search is defined %} value="{{ search }}" {% endif %}>
            </div>
            <button type="submit" class="btn btn-default col-xs-4 col-sm-2 col-md-2 col-lg-1">Recherche</button>
        </form>
    </div>

    {% if results is defined %}
        <div class="row">
            <h3 style="padding-left:15px;">Musiques</h3>
            {% if results.track|length > 0 %}
                {% for track in results.track %}
                    {{ macro.trackTemplate(track.id, track.url,track.cover, track.title, track.author.name, track.author.id) }}
                {% endfor %}
            {% else %}
                <p style="padding-left:15px;">Aucune musique ne correspond à votre recherche.</p>
            {% endif %}
        </div>
        <div class="row">
            <h3 style="padding-left:15px;">Auteurs</h3>
            {% if results.author|length > 0 %}
                {% for author in results.author %}
                    {{ macro.authorTemplate(author.id, author.cover, author.name) }}
                {% endfor %}
            {% else %}
            <p style="padding-left:15px;">Aucune musique ne correspond à votre recherche.</p>
            {% endif %}
        </div>
    {% endif %}
</div>

<script>
    check();

    function check() {
        if (typeof musicManager != "undefined" && musicManager.currentTrack && musicManager.currentTrack.id) {
            checkPlay();
            checkList();
        } else {
            setTimeout(check, 500);
        }
    }
</script>