{% import "macro.twig" as macro %}

<div class="small-12">
    <h1>Musiques</h1>
    {% for track in tracks %}
        {{ macro.trackTemplate(track.id, track.url,track.cover, track.title, track.author.name, track.author.id) }}
    {% endfor %}
</div>

<script>
    check();

    function check() {
        if (typeof musicManager != "undefined" && musicManager.currentTrack && musicManager.currentTrack.id) {
            checkPlay();
            checkList();
        } else {
            setTimeout(check, 500);
        }
    }
</script>